body{
  height: 100vh;
  background: rgb(108, 56, 133);
}

.op1{
  background: rgb(185, 142, 142);
}
.op2{
  background: rgb(219, 218, 148);
}
.op3{
  background: rgb(214, 84, 84);
}


a{
  text-decoration: none;
}

.container{
  padding: 10%;
   background: rgb(108, 56, 133);
}

.prompt,
.reply{
font-size: 25px;
text-align: center;
font-family: "Josefin Sans", sans-serif;
}
.prompt{
  color: whitesmoke;
}
.reply{
padding: 20%;
text-align: center;
font-size: 30px;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -50px;
  height: 40px;
  position: relative;
  background: #f0f0f0;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;

}

.title-black {
  color: black;
}


footer a{
  background-color: whitesmoke;
  position: fixed;
  bottom: 15px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1%;
}




@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
  
    flex-direction: column;
  }
}
